/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */

@import "../../variables";

.CardView {

	margin-top: 20px;
	color: $white;
	text-decoration: none;
	background: $antiAstraBackground;
	box-shadow: $antiAstraBoxShadow;
	padding: 40px;
	border-radius: 20px;
	display: flex;
	flex-direction: row;

	.child-container {

	}

}
