/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */

.MembersPage {
	.members {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
}
