/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */

@import "../../variables";

.MemberViewLead {

	margin: 20px 0;
	z-index: 1;

	.headshot {
		width: 100%;
		max-height: 600px;
		object-fit: cover;
	}

	span, p {
		display: block;
		margin: 4px 0;
	}

	.name {
		font-size: 1.5em;
		font-weight: bold;
	}

	.email {
		font-weight: lighter;
		color: $white;
		text-decoration: none;
	}

	.links {
		display: flex;

		a {
			margin-right: 8px;
			margin-top: 8px;
			transition: transform 250ms ease-in-out, color 250ms ease-in-out;
			color: white;
		}

		a:hover {
			transform: scale(1.5);
			color: $mtuGold;
		}
	}

}

@media (min-width: $constraint) {
	.MemberViewLead {

		background: $antiAstraBackground;
		box-shadow: $antiAstraBoxShadow;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		padding: 40px;
		border-radius: 40px;

		.img-split {

			display: flex;
			flex-direction: row-reverse;
			width: 100%;

			.headshot {

			}

			.name-split {
				width: 100%;
				margin-right: 20px;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: center;
			}
		}

		.bio {
			margin: 20px 0;
		}

	}
}
