/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */

@import "../../variables";

.MemberViewLead {

	margin: 20px 0;

	.headshot {
		width: 100%;
	}

	span, p {
		display: block;
		margin: 4px 0;
	}

	.name {
		font-size: 1.5em;
		font-weight: bold;
	}

	.email {
		font-weight: lighter;
		color: $white;
		text-decoration: none;
	}

	.links {
		display: flex;

		a {
			margin-right: 8px;
			margin-top: 8px;
			transition: transform 250ms ease-in-out, color 250ms ease-in-out;
			color: white;
		}

		a:hover {
			transform: scale(1.5);
			color: $mtuGold;
		}
	}

}

@media (min-width: $constraint) {
	.MemberViewLead {

		background: $antiAstraBackground;
		box-shadow: $antiAstraBoxShadow;
		border-radius: 20px;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;

		.name-split, .bio-split, .img-split {
			display: flex;
		}

		.name-split, .img-split {
			align-items: center;
		}

		.bio-split {
			flex-direction: column;
			padding: 20px;
			height: 100%;
			background: black;
			z-index: 1;
			justify-content: center;
		}

		.name-split {
			justify-content: space-between;
		}

		.name {
			margin-right: 8px;
		}

		.headshot {
			display: block;
			width: 280px;
			height: 100%;
			object-fit: cover;
			flex-shrink: 0;
			transition: transform 250ms ease-in-out;
		}

		.headshot:hover {
			transform: scale(1.5) rotate(5deg);
		}

	}
}
