/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */

@import "../../variables";

.MemberViewLead {

	margin: 20px 0;

	img {
		width: 100%;
	}

	span, p {
		display: block;
		margin: 4px 0;
	}

	.name {
		font-size: 1.5em;
		font-weight: bold;
	}

	.email {
		font-weight: lighter;
		color: $white;
		text-decoration: none;
	}
}

@media (min-width: $constraint) {
	.MemberViewLead {

		background: $antiAstraBackground;
		box-shadow: $antiAstraBoxShadow;
		border-radius: 20px;
		overflow: hidden;
		padding: 20px;

		.name-split, .bio-split, .img-split {
			display: flex;
		}

		.name-split, .img-split {
			align-items: center;
		}

		.bio-split {
			flex-direction: column;
		}

		.name-split {
			justify-content: space-between;
		}

		.name {

		}

		.email {
			display: block;
			transition: color 250ms ease-in-out;
		}

		.email:hover {
			color: $mtuGold;
		}

		.closeup {
			display: block;
			max-width: 200px;
			margin-right: 20px;
		}

		.bio {

		}

	}
}