/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */

@import "../../../variables";

.NavigationDetailView {


	h2, h3 {
		margin-top: 40px;
	}

	img {
		width: 100%;
	}

	li {
		margin-left: 40px;
		margin-top: 4px;
	}

	p, ul, img {
		margin: 20px 0;
	}

	font-size: 1.25em;

	.link {
		display: flex;
		align-items: center;
		justify-content: center;
		background: $mtuGold;
		color: $mtuBlack;
		text-decoration: none;
		border-radius: 25px;
		margin-bottom: 20px;
		width: 50px;
		height: 50px;
		transition: transform 250ms ease-in-out;

		.icon {
			width: 60%;
			height: 60%;
		}
	}

	.link:hover {
		transform: scale(1.25) rotate(90deg);
	}

	.button {
		border-bottom: solid black 2px;
		transition: border-bottom-color 250ms ease-in-out;
	}

	.button:hover {
		border-bottom-color: $mtuGold;
	}
}
