/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */

@import "../variables";

.App {
	width: 100vw;
}

.NavView {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	justify-content: space-between;
	align-items: center;
	height: $navBarHeightSmall;
	padding: 0 20px;
	background: $mtuGold;
	color: $mtuBlack;
	box-shadow: 0 0 10px black;
	z-index: 99999;

	.openButton {
		width: 40px;
		height: 40px;
		transition: transform 250ms ease-in-out;
	}

	.openButton:hover {
		transform: scale(1.25);
	}

	.header {
		display: flex;
		align-items: center;
		justify-content: flex-start;

		* {
			margin-right: 10px;
		}

		h1 {
			font-size: 3em;
		}

		img {
			height: 100%;
			width: 40px;
			object-fit: contain;
		}
	}
}
