/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */

$mtuGold: #ffcd00;
$mtuGoldTainted: #292100;
$mtuBlack: black;
$white: #fff;
$background: #222;
$constraint: 800px;

$antiAstraBoxShadow: 0 0 20px #202020;
$antiAstraBackground: rgba(0,0,0,0.9);

$navBarHeight: 80px;
$navBarWidth: min(100vw, #{$constraint});
$navBarEnableWidth: 1400px;
$mainWidth: min(100%, #{$constraint});

$paddingSmall: 8px;
$paddingMedium: 16px;
$paddingBig: 32px;
