/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */

@import "variables";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap");

a {
	color: $mtuGold;
	text-decoration: none;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	//border: solid red 1px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	font-family: "Roboto", sans-serif;
	background: $mtuBlack;
	color: $white;
}

@font-face {
	font-family: Nasa;
	src: url("Righteous.ttf");
}

h1, h2 {
	font-family: Nasa, "Roboto", sans-serif;
	text-transform: uppercase;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
	font-weight: lighter;
}

h2, h3 {
	color: $mtuGold;
	margin: 10px 0;
}


.rootAppContainer {
	margin-top: $navBarHeight;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main {
	width: $mainWidth;
	padding: $paddingMedium;
}

@media (min-width: $constraint) {

	h2 {
		font-size: 3em;
	}

	h3 {
		font-size: 2em;
	}

	h2, h3 {
		margin: $paddingMedium 0;
	}

	.main {
		padding: 40px;
	}


}
