/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */

@import "../../variables";

.Button {
	text-decoration: none;
	background: $mtuGold;
	color: black;
	font-size: 22px;
	padding: 8px 16px;
	border-radius: 10px;
	font-weight: bold;
	display: block;
	transition: all 250ms ease-in-out;
}

.Button:hover {
	cursor: pointer;
	transform: scale(1.1);
}
