/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */

@import "../../variables";

.HomePage {
	
	.header {

		height: 400px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		padding: 10px;
		font-size: 1.25em;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		span {
			display: block;
		}

		.title {
			font-weight: bold;
			font-size: 1.5em;
			margin-bottom: 20px;
		}

		.subtitle {

		}

	}
	
}

@media (min-width: $constraint) {
	.HomePage {


		.header {
			font-size: 2.5em;
			height: 90vh;
			max-height: 1000px;

			span {
				width: 60vw;
				margin-left: 100px;
			}

		}


	}
}