/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */

@import "../../variables";

.TopBar {

	display: flex;
	flex-direction: column;
	z-index: 8;
	overflow: hidden;
	width: 100%;
	padding: 12px;
	align-items: center;

	.title {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 12px;
		text-decoration: none;
	}

	.logo {
		width: 60px;
		object-fit: contain;
		margin-right: 12px;
		display: block;
	}

	.labels span {
		display: none;
	}

}

@media(min-width: $constraint) {
	.TopBar {
		flex-direction: row;
		background: $mtuGold;
		justify-content: space-between;
		top: 0;
		left: 0;
		position: sticky;

		.logo {
			width: 60px;
			margin-right: 20px;
		}

		.labels {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			color: black;

			span {
				font-size: 16px;
				font-weight: lighter;
				//display: block;
			}

			h1 {
				font-size: 48px;
			}
		}
	}
}
