/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */

@import "../../variables";

.PublicationsPage {

	table {

		width: 100%;
		border-collapse:separate;
		border-spacing: 8px 10px;

		.iconColumn {
			width: 10px;
		}

		th {
			color: $mtuGold;
			font-weight: bold;
			text-align: left;
		}

		tr {
			text-align: left;
		}

		.icon {
			color: $mtuGold;
			font-size: 1.5em;
		}

	}

}

@media (min-width: $constraint) {
	.PublicationsPage {
		table {
			border-spacing: 10px 40px;
			th {
				font-size: 1.5em;
			}
			tr {
				font-size: 1.125em;
			}

			.icon {
				transition: transform 250ms ease-in-out;
			}

			.icon:hover {
				transform: scale(1.5);
			}
		}
	}
}