/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */

@import "../../variables";

.PublicationsPage {

	max-width: 1920px;

	table {

		width: 100%;

		.iconColumn {
			width: 10px;
		}

		th {
			color: $mtuGold;
			font-weight: bold;
			text-align: left;
		}

		tr {
			text-align: left;
		}

		.icon {
			color: $mtuGold;
			font-size: 1.5em;
		}

		.dateColumn {
			min-width: 100px;
		}

		.authorsColumn {
			min-width: 140px;
		}

	}

}

@media (min-width: $constraint) {
	.PublicationsPage {

		.publicationSection {
			margin-top: 100px;
		}

		table {

			th {
				font-size: 1.5em;
			}

			tr {
				font-size: 1.125em;
			}

			th, td {
				padding: 20px;
			}

			.icon {
				transition: transform 250ms ease-in-out;
			}

			.icon:hover {
				transform: scale(1.5);
			}
		}
	}
}
