/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */

.MembersPage {

	.MemberSection {
		margin: 20px 0;

		.members {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
		}
	}
}