/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */

@import "../../variables";

.ProjectDetail {
	.link {
		display: flex;
		align-items: center;
		justify-content: center;
		background: $mtuGold;
		color: $mtuBlack;
		text-decoration: none;
		border-radius: 25px;
		margin-bottom: 20px;
		width: 50px;
		height: 50px;
		transition: transform 250ms ease-in-out;

		.icon {
			width: 60%;
			height: 60%;
		}
	}

	.link:hover {
		transform: scale(1.25) rotate(90deg);
	}
}

