/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */

@import "../variables";

.ContactPage {
	p {
		margin: 10px 0;
	}

	.link {
		color: $mtuGold;
		border-bottom: solid black 2px;
		text-decoration: none;
		transition: border-bottom-color 250ms ease-in-out;
	}

	ol {
		margin-left: 40px;

		li {
			margin: 8px;
		}
	}

	.button {
		display: block;
		background: $mtuGold;
		color: black;
		border-radius: 5px;
		align-self: flex-start;
		max-width: 200px;
		text-align: center;
		padding: 10px 20px;
		font-weight: bold;
		font-size: 1.125em;
		margin: 10px 0;
		transition: transform 250ms ease-in-out;
	}

	.button:hover {
		transform: scale(1.125);
		cursor: pointer;
	}

	.link:hover {
		border-bottom-color: $mtuGold;
	}
}
