/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */

$mtuGold: #ffcd00;
$mtuBlack: black;
$white: #fff;
$background: #222;
$constraint: 720px;

$antiAstraBoxShadow: 0 0 20px #202020;
$antiAstraBackground: rgba(0,0,0,0.9);