/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */

@import "variables";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	//border: solid red 1px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

@font-face {
	font-family: Nasa;
	src: url("./Righteous.ttf");
}

h1, h2 {
	font-family: Nasa, "Roboto", sans-serif;
	text-transform: uppercase;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
	font-weight: lighter;
}

h2, h3 {
	color: $mtuGold;
	margin: 10px 0;
}

.main {
	margin: 10px;
}

@media (min-width: $constraint) {

	.rootAppContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.main {
		width: 80%;
		margin: 16vh 20px 20px;
		max-width: 800px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	h2 {
		font-size: 3em;
	}

	h3 {
		font-size: 2em;
	}

	h2, h3 {
		margin: 20px 0;
	}


}
