/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */

@import "variables";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap");

body {
	font-family: "Roboto", sans-serif;
	background: $mtuBlack;
	color: $white;
}

a {
	color: $mtuGold;
	text-decoration: none;
	transition: font-size 250ms ease-in-out;
}

a:hover {
	font-size: 1.125em;
}
