/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */

@import "../../variables";

.NavBar {

	display: flex;
	flex-direction: row;
	list-style: none;
	overflow-x: scroll;
	overflow-y: hidden;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
	padding-bottom: 20px;
	margin-bottom: -20px;

	a {
		text-transform: uppercase;
		text-align: center;
		font-weight: bold;
		color: black;
		background: $mtuGold;
		margin-right: 12px;
		padding: 8px 16px;
		border-radius: 8px;
		text-decoration: none;
		outline: none;
		display: block;
	}

	.active {
		color: $white;
	}

}

@media(min-width: $constraint) {
	.NavBar {

		align-items: center;
		justify-content: flex-end;
		margin: 0;
		overflow: hidden;
		background: $mtuGold;
		padding: 20px;
		flex-wrap: wrap;

		a {
			margin: 12px;
			padding: 8px 16px;
			font-size: 18px;
			border-bottom: solid $mtuGold 4px;
			transition: all 250ms ease-in-out;
			border-radius: 8px;
		}

		.active {
			color: black;
		}

		a:hover, .active {
			box-shadow: 0 0 20px #b08e00;
			transform: scale(1.1);
		}

	}
}
