/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */

@import "../../variables";

.NavBar {

	display: flex;
	flex-direction: row;
	list-style: none;
	overflow-x: scroll;
	overflow-y: hidden;
	padding-bottom: 20px;
	margin-bottom: -20px;

	a {
		text-transform: uppercase;
		text-align: center;
		font-weight: bold;
		color: black;
		background: $mtuGold;
		margin-left: 12px;
		padding: 8px 16px;
		border-radius: 8px;
	}

	a {
		text-decoration: none;
		color: inherit;
		outline: none;
	}

	.active {
		color: $white;
	}

}

@media(min-width: $constraint) {
	.NavBar {
		align-items: center;
		justify-content: flex-end;
		margin: 0;
		overflow: hidden;
		background: $mtuGold;
		padding: 20px;

		a {
			margin: 0 20px 0 0;
			background: $mtuBlack;
			padding: 16px 24px;
			font-size: 22px;
			color: $mtuGold;
			transition: all 250ms;
		}

		a:hover {
			transform: scale(1.1);
		}

	}
}
