/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */

@import "../../variables";

.TopBar {

	display: flex;
	flex-direction: column;
	z-index: 8;
	overflow: hidden;
	width: 100vw;

	.title {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 12px;
	}

	.logo {
		width: 60px;
		object-fit: contain;
		border-radius: 20px;
		margin-right: 12px;
		display: block;
	}

}

@media(min-width: $constraint) {
	.TopBar {
		flex-direction: row;
		background: $mtuGold;
		justify-content: space-between;
		top: 0;
		left: 0;
		position: sticky;

		.logo {
			width: 80px;
			margin-right: 20px;
		}

		.title {
			color: black;
			font-size: 2em;
		}
	}
}
