/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */

@import "../../variables";

.FacilitiesPage {

	p {
		margin: 10px 0;
	}

	.img-container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}

	h3 {
		border-bottom: solid 2px $mtuGold;
		padding-bottom: 16px;
	}

	img {
		max-width: 380px;
		margin: 10px;
		transition: transform 250ms ease-in-out;
		border-radius: 20px;
	}

	img:hover {
		transform: scale(2);
	}

	h4 {
		color: $mtuGold;
		font-weight: normal;
		font-size: 1.25em;
		margin-top: 20px;
	}

	th, td {
		padding: 4px;
		text-align: left;
	}

	li {
		margin: 8px 20px;
	}

	section {
		margin-top: 40px;
	}

}
